<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Alura Geek</title>
    <link rel="stylesheet" href="../assets/styles/normalize.css">
    <link rel="stylesheet" href="../assets/styles/reset.css">
    <link rel="stylesheet" href="../assets/styles/home/cabecalho.css">
    <link rel="stylesheet" href="../assets/styles/home/banner.css">
    <link rel="stylesheet" href="../assets/styles/home/sessao-produto.css">
    <link rel="stylesheet" href="../assets/styles/home/canal-comunicacao.css">
    <link rel="stylesheet" href="../assets/styles/home/rodape.css">
</head>

<body>
    <header class="cabecalho">
        <div class="container">
            <div class="cabecalho__container-logo-barra-pesquisa">
                <img class="cabecalho__logo" src="../assets/images/logo.png" alt="">
                <div class="cabecalho__barra-pesquisa">
                    <input class="cabecalho__barra-pesquisa__input" type="text" placeholder="O que deseja encontrar?">
                    <button class="cabecalho__barra-pesquisa__icone">
                        <img class="cabecalho__barra-pesquisa__icone__lupa" src="../assets/images/icon-loupe.png"
                            alt="">
                    </button>
                </div>
            </div>
            <div class="cabecalho__botao-login">
                <p>Login</p>
            </div>

        </div>
    </header>

    <section class="banner">
        <div class="banner__imagem">
            <div class="banner__informacao">
                <h2 class="banner__titulo">Dezembro promocional</h2>
                <p class="banner__descricao">Produtos selecionados com 33% de desconto</p>
                <button class="banner_botao">Ver consoles</button>
            </div>
        </div>
    </section>

    <main>
        <section class="sessao-produtos">
            <div class="container">
                <div class="sessao-produtos__container-titulo-link">
                    <h2 class="sessao-produtos__titulo">Star Wars</h2>
                    <a class="sessao-produtos__link" href="#">Ver tudo</a>
                </div>
                <div class="sessao-produtos__produtos">
                    <div class="sessao-produtos__produto">
                        <img class="sessao-produtos__produto__imagem" src="../assets/images/unsplash_6FDXGY9J6y4.png"
                            alt="Caneca Star Wars">
                        <div class="sessao-produtos__produto__conteudo">
                            <h3 class="sessao-produtos__produto__titulo">Caneca</h3>
                            <p class="sessao-produtos__produto__preco">R$ 60,00</p>
                            <a class="sessao-produtos__produto__link" href="#">Ver produto</a>
                        </div>
                    </div>
                    <div class="sessao-produtos__produto">
                        <img class="sessao-produtos__produto__imagem" src="../assets/images/unsplash_epRFE_hBNjo.png"
                            alt="Caneca Star Wars">
                        <div class="sessao-produtos__produto__conteudo">
                            <h3 class="sessao-produtos__produto__titulo">Caneca</h3>
                            <p class="sessao-produtos__produto__preco">R$ 60,00</p>
                            <a class="sessao-produtos__produto__link" href="#">Ver produto</a>
                        </div>
                    </div>
                    <div class="sessao-produtos__produto">
                        <img class="sessao-produtos__produto__imagem" src="../assets/images/unsplash_KeGToDVN0l4.png"
                            alt="Caneca Star Wars">
                        <div class="sessao-produtos__produto__conteudo">
                            <h3 class="sessao-produtos__produto__titulo">Caneca</h3>
                            <p class="sessao-produtos__produto__preco">R$ 60,00</p>
                            <a class="sessao-produtos__produto__link" href="#">Ver produto</a>
                        </div>
                    </div>
                    <div class="sessao-produtos__produto">
                        <img class="sessao-produtos__produto__imagem" src="../assets/images/unsplash_4OHkK555s1A.png"
                            alt="Caneca Star Wars">
                        <div class="sessao-produtos__produto__conteudo">
                            <h3 class="sessao-produtos__produto__titulo">Caneca</h3>
                            <p class="sessao-produtos__produto__preco">R$ 60,00</p>
                            <a class="sessao-produtos__produto__link" href="#">Ver produto</a>
                        </div>
                    </div>
                    <div class="sessao-produtos__produto">
                        <img class="sessao-produtos__produto__imagem" src="../assets/images/unsplash_R8L1l9RN198.png"
                            alt="Caneca Star Wars">
                        <div class="sessao-produtos__produto__conteudo">
                            <h3 class="sessao-produtos__produto__titulo">Caneca</h3>
                            <p class="sessao-produtos__produto__preco">R$ 60,00</p>
                            <a class="sessao-produtos__produto__link" href="#">Ver produto</a>
                        </div>
                    </div>
                    <div class="sessao-produtos__produto">
                        <img class="sessao-produtos__produto__imagem" src="../assets/images/unsplash_1VV1MRafd7A.png"
                            alt="Caneca Star Wars">
                        <div class="sessao-produtos__produto__conteudo">
                            <h3 class="sessao-produtos__produto__titulo">Caneca</h3>
                            <p class="sessao-produtos__produto__preco">R$ 60,00</p>
                            <a class="sessao-produtos__produto__link" href="#">Ver produto</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sessao-produtos">
            <div class="container">
                <div class="sessao-produtos__container-titulo-link">
                    <h2 class="sessao-produtos__titulo">Consoles</h2>
                    <a class="sessao-produtos__link" href="#">Ver tudo</a>
                </div>
                <div class="sessao-produtos__produtos">
                    <div class="sessao-produtos__produto">
                        <img class="sessao-produtos__produto__imagem" src="../assets/images/unsplash_0POwK6iAiRQ.png"
                            alt="Caneca Star Wars">
                        <div class="sessao-produtos__produto__conteudo">
                            <h3 class="sessao-produtos__produto__titulo">Caneca</h3>
                            <p class="sessao-produtos__produto__preco">R$ 60,00</p>
                            <a class="sessao-produtos__produto__link" href="#">Ver produto</a>
                        </div>
                    </div>
                    <div class="sessao-produtos__produto">
                        <img class="sessao-produtos__produto__imagem" src="../assets/images/unsplash_caNzzoxls8Q.png"
                            alt="Caneca Star Wars">
                        <div class="sessao-produtos__produto__conteudo">
                            <h3 class="sessao-produtos__produto__titulo">Caneca</h3>
                            <p class="sessao-produtos__produto__preco">R$ 60,00</p>
                            <a class="sessao-produtos__produto__link" href="#">Ver produto</a>
                        </div>
                    </div>
                    <div class="sessao-produtos__produto">
                        <img class="sessao-produtos__produto__imagem" src="../assets/images/unsplash_ZV7lnfyQLmA.png"
                            alt="Caneca Star Wars">
                        <div class="sessao-produtos__produto__conteudo">
                            <h3 class="sessao-produtos__produto__titulo">Caneca</h3>
                            <p class="sessao-produtos__produto__preco">R$ 60,00</p>
                            <a class="sessao-produtos__produto__link" href="#">Ver produto</a>
                        </div>
                    </div>
                    <div class="sessao-produtos__produto">
                        <img class="sessao-produtos__produto__imagem" src="../assets/images/unsplash_wa5z9o9fgjw.png"
                            alt="Caneca Star Wars">
                        <div class="sessao-produtos__produto__conteudo">
                            <h3 class="sessao-produtos__produto__titulo">Caneca</h3>
                            <p class="sessao-produtos__produto__preco">R$ 60,00</p>
                            <a class="sessao-produtos__produto__link" href="#">Ver produto</a>
                        </div>
                    </div>
                    <div class="sessao-produtos__produto">
                        <img class="sessao-produtos__produto__imagem" src="../assets/images/unsplash_Zjn4dT993-g.png"
                            alt="Caneca Star Wars">
                        <div class="sessao-produtos__produto__conteudo">
                            <h3 class="sessao-produtos__produto__titulo">Caneca</h3>
                            <p class="sessao-produtos__produto__preco">R$ 60,00</p>
                            <a class="sessao-produtos__produto__link" href="#">Ver produto</a>
                        </div>
                    </div>
                    <div class="sessao-produtos__produto">
                        <img class="sessao-produtos__produto__imagem"
                            src="../assets/images/unsplash_k-xYhI3-gJM (1).png" alt="Caneca Star Wars">
                        <div class="sessao-produtos__produto__conteudo">
                            <h3 class="sessao-produtos__produto__titulo">Caneca</h3>
                            <p class="sessao-produtos__produto__preco">R$ 60,00</p>
                            <a class="sessao-produtos__produto__link" href="#">Ver produto</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sessao-produtos">
            <div class="container">
                <div class="sessao-produtos__container-titulo-link">
                    <h2 class="sessao-produtos__titulo">Diversos</h2>
                    <a class="sessao-produtos__link" href="#">Ver tudo</a>
                </div>
                <div class="sessao-produtos__produtos">
                    <div class="sessao-produtos__produto">
                        <img class="sessao-produtos__produto__imagem" src="../assets/images/unsplash_fMP-oCze3AY.png"
                            alt="Caneca Star Wars">
                        <div class="sessao-produtos__produto__conteudo">
                            <h3 class="sessao-produtos__produto__titulo">Caneca</h3>
                            <p class="sessao-produtos__produto__preco">R$ 60,00</p>
                            <a class="sessao-produtos__produto__link" href="#">Ver produto</a>
                        </div>
                    </div>
                    <div class="sessao-produtos__produto">
                        <img class="sessao-produtos__produto__imagem" src="../assets/images/unsplash_bUgaIaZysH0.png"
                            alt="Caneca Star Wars">
                        <div class="sessao-produtos__produto__conteudo">
                            <h3 class="sessao-produtos__produto__titulo">Caneca</h3>
                            <p class="sessao-produtos__produto__preco">R$ 60,00</p>
                            <a class="sessao-produtos__produto__link" href="#">Ver produto</a>
                        </div>
                    </div>
                    <div class="sessao-produtos__produto">
                        <img class="sessao-produtos__produto__imagem" src="../assets/images/unsplash_sYVY_ZKwaxU.png"
                            alt="Caneca Star Wars">
                        <div class="sessao-produtos__produto__conteudo">
                            <h3 class="sessao-produtos__produto__titulo">Caneca</h3>
                            <p class="sessao-produtos__produto__preco">R$ 60,00</p>
                            <a class="sessao-produtos__produto__link" href="#">Ver produto</a>
                        </div>
                    </div>
                    <div class="sessao-produtos__produto">
                        <img class="sessao-produtos__produto__imagem" src="../assets/images/unsplash_jMT6BrgBuXU.png"
                            alt="Caneca Star Wars">
                        <div class="sessao-produtos__produto__conteudo">
                            <h3 class="sessao-produtos__produto__titulo">Caneca</h3>
                            <p class="sessao-produtos__produto__preco">R$ 60,00</p>
                            <a class="sessao-produtos__produto__link" href="#">Ver produto</a>
                        </div>
                    </div>
                    <div class="sessao-produtos__produto">
                        <img class="sessao-produtos__produto__imagem" src="../assets/images/unsplash_MxVkWPiJALs.png"
                            alt="Caneca Star Wars">
                        <div class="sessao-produtos__produto__conteudo">
                            <h3 class="sessao-produtos__produto__titulo">Caneca</h3>
                            <p class="sessao-produtos__produto__preco">R$ 60,00</p>
                            <a class="sessao-produtos__produto__link" href="#">Ver produto</a>
                        </div>
                    </div>
                    <div class="sessao-produtos__produto">
                        <img class="sessao-produtos__produto__imagem" src="../assets/images/unsplash_r27umXAelDc.png"
                            alt="Caneca Star Wars">
                        <div class="sessao-produtos__produto__conteudo">
                            <h3 class="sessao-produtos__produto__titulo">Caneca</h3>
                            <p class="sessao-produtos__produto__preco">R$ 60,00</p>
                            <a class="sessao-produtos__produto__link" href="#">Ver produto</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="canal-comunicacao">
            <div class="container">
                <div class="canal-comunicacao__logo-e-quem-somos-container">
                    <img class="logo-alura-geek" src="../assets/images/logo.png" alt="">
                    <nav class="quem-somos">
                        <ul class="quem-somos__lista">
                            <li class="quem-somos__item"><a class="quem-somos__link" href="#">Quem somos nós</a></li>
                            <li class="quem-somos__item"><a class="quem-somos__link" href="#">Política de
                                    privacidade</a>
                            </li>
                            <li class="quem-somos__item"><a class="quem-somos__link" href="#">Programa fidelidade</a>
                            </li>
                            <li class="quem-somos__item"><a class="quem-somos__link" href="#">Nossas lojas</a></li>
                            <li class="quem-somos__item"><a class="quem-somos__link" href="#">Quero ser franqueado</a>
                            </li>
                            <li class="quem-somos__item"><a class="quem-somos__link" href="#">Anuncie aqui</a></li>
                        </ul>
                    </nav>
                </div>
                <form class="fale-conosco" action="">
                    <h3 class="fale-conosco__titulo">Fale conosco</h3>
                    <div class="fale-conosco__nome">
                        <label class="fale-conosco__nome__label" for="nome">Nome</label>
                        <input class="fale-conosco__nome__input" type="text" name="nome" id="nome">
                    </div>
                    <textarea class="fale-conosco__mensagem" name="" id="" cols="30" rows="10"></textarea>
                    <input class="fale-conosco__botao" type="submit" value="Enviar mensagem">
                </form>
            </div>
        </section>
    </main>

    <footer class="rodape">
        <div class="container">
            <h3 class="rodape__titulo">Desenvolvido por Rafael Firmino</h3>
            <p class="rodape__ano-criacao">2023</p>
        </div>
    </footer>
</body>

</html>