<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="../assets/styles/normalize.css">
    <link rel="stylesheet" href="../assets/styles/reset.css">
    <link rel="stylesheet" href="../assets/styles/produtos-home/cabecalho.css">
    <link rel="stylesheet" href="../assets/styles/produtos-home/produtos.css">
    <link rel="stylesheet" href="../assets/styles/produtos-home/fale-conosco.css">
    <link rel="stylesheet" href="../assets/styles/produtos-home/rodape.css">
</head>

<body>
    <header>
        <div class="cabecalho">
            <img class="logo" src="../assets/images/logo.png" alt="Logo alura geek">
            <div class="barra-pesquisa">
                <input class="barra-pesquisa__input" type="text" placeholder="O que deseja encontrar?" data-pesquisa>
                <img class="barra-pesquisa__icone-lupa" src="../assets/images/Icone-lupa.svg" alt="Botão de busca"
                    data-botao-pesquisa>
            </div>
        </div>

    </header>

    <main>
        <section class="produtos">
            <div class="produtos__cabecalho">
                <h1 class="cabecalho__titulo">Todos os produtos</h1>
                <a href="../views/produto-adicionar.html">
                    <input class="cabecalho__botao" type="button" value="Adicionar produto">
                </a>
            </div>
            <div class="produtos__todos-produtos" data-todos-produtos>
            </div>
        </section>

        <section class="comunicacao">
            <div class="comunicacao-geral">
                <img class="comunicacao-geral__logo" src="../assets/images/logo.png" alt="">
                <ul class="comunicacao-geral__lista">
                    <li class="comunicacao-geral__item"><a class="comunicacao-geral__link" href="#">Quem somos nós</a>
                    </li>
                    <li class="comunicacao-geral__item"><a class="comunicacao-geral__link" href="#">Política de
                            privacidade</a></li>
                    <li class="comunicacao-geral__item"><a class="comunicacao-geral__link" href="#">Programa
                            fidelidade</a></li>
                    <li class="comunicacao-geral__item"><a class="comunicacao-geral__link" href="#">Nossas lojas</a>
                    </li>
                    <li class="comunicacao-geral__item"><a class="comunicacao-geral__link" href="#">Quero ser
                            franqueado</a></li>
                    <li class="comunicacao-geral__item"><a class="comunicacao-geral__link" href="#">Anuncie aqui</a>
                    </li>
                </ul>
            </div>
            <form class="fale-conosco" action="">
                <h2 class="fale-conosco__titulo">Fale conosco</h2>
                <div class="fale-conosco__nome-container">
                    <label class="fale-conosco__nome-babel" for="nome">Nome</label>
                    <input class="fale-conosco__nome-input" type="text" name="" id="nome">
                </div>
                <textarea class="fale-conosco__mensagem" name="" id="" cols="30" rows="6"
                    placeholder="Escreva sua mensagem"></textarea>
                <input class="fale-conosco__botao" type="submit" value="Enviar mensagem">
            </form>
        </section>
    </main>

    <footer class="rodape">
        <div class="container">
            <h3 class="rodape__titulo">Desenvolvido por Rafael Firmino</h3>
            <p class="rodape__ano-criacao">2023</p>
        </div>
    </footer>
    <script src="../controllers/busca-produto-controller.js" type="module"></script>
    <script src="../controllers/mostra-produtos-controller.js" type="module"></script>
</body>

</html>